---
---
body {
  background: #efefef;
  color: #555;
}

.site-name {
  font-size: 2.5em;
  font-weight: 700;
  a {
    color: #333;
  }
}

.site-description {
  font-size: 1.25em;
  padding: 0 0 20px 0;
  display: block;
}

header {
  padding: 40px 0 0 0;
}

.wrapper {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 30px 40px;
  margin: 20px auto 20px auto;
}

/* Font styles */
p {
  font-size:18px;
}

a {
  color: #06c;
}

/* Fix long urls */
a {
  overflow-wrap:break-word;
  word-wrap:break-word;
  word-break:break-word;
  -ms-hyphens:auto;
  -moz-hyphens:auto;
  -webkit-hyphens:auto;
  hyphens:auto;
}

em {
  font-weight: bold;
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em; 
}

h2 a {
  letter-spacing: 1px;
}

ul {
  list-style-type: disc;
  font-size: 18px;
}

/* Read more wrapper in posts */
.read_more {
  text-align: right;
}

/* Fix old posts with lists */
ul li p {
   display: inline;
}
ol li p {
   display: inline;
}

/* Date posted under blog post title */
.date_posted {
   margin-bottom: 2.5rem;
}

/* Styling for welcome message on landing page */
.wrapper p.welcome {
  font-size: 28px;
  padding-right: 1.5em;
  margin-top:0;
}

/* Link buttons on landing page */
a.button {
  background-color: #fff;
  border: 0;
  color: #555;
}

/* Get in touch wrapper on landing page*/
.wrapper.touch {
  padding: 30px 20px;
  position:relative;
}
.touch p {
 font-size: 16px; 
}
/* Google Calendar */
p.gcal {
  position: absolute;
  left: 13px;
  bottom: 0;
}
.touch div {
  height: 200px;
}

/* Time to read: */
.read {
  font-style: italic;
  font-weight: bold;
}

/* Link to top of page - found bottom of page */
a.top {
  position: absolute;
  bottom: 20px;
  display: block;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

/* Second pagination */
.pagination.bottom {
  position: absolute;
  bottom: 100px;
}


/* Mobile Last Media Queries */
@media (max-width: 40.0rem) {
  
  .site-name {
    font-size: 1.5em;
    line-height: 1.25em;
  }
  
  a.top {
    position: initial;
    bottom: initial;
  }
  
  p.gcal {
    width:93%;
  } 
    
  p.gcal iframe {
    width:100%;
  }
  
  .pagination.bottom {
    display:none;
  }
  
  .wrapper {
    padding: 30px 20px; 
  }
  
  .wrapper p.welcome {
    font-size: 1.25em;
    padding-right:0;
  }
  
  .read {
    display:block;
  }
  
  .row .column.column-75, .row .column.column-25,
  .row .column.column-60, .row .column.column-40 {
    max-width: 100%; 
  }
  
}
