---
layout: default
title: Bradford GNU/Linux Users Group
summary: A self-help group for GNU/Linux, Open Source and Free Software users in and around the Bradford District, West Yorkshire
---

<div id="featured" class="clearfix wrapper">
    <div class="row">
        <div class="column column-60">
            <p class="welcome">We normally meet every <b>second Tuesday of the month</b> for talks and demonstrations from 7:00pm onwards at BCB Radio.</p>
            <p>Why not come along to a <a href="/meetings/">meeting</a>?</p>
            <p>Until the start of the pandemic in 2020, some of us used to create <a href="http://itstuff.org.uk/" type="text/html" role="link">IT Stuff</a> for BCB Radio (106.6 FM). Shi has <a href="https://bradlug.co.uk/blog/2022/04/20/april-20-2022-shi-looks-back-on-itstuff" type="text/html" role="link">looked back</a> on this for us.</p>
        </div>
        <div class="column column-40">
            <img src="/images/logo.jpg">
        </div>
    </div>
</div>

<div class="row">
    <div class="column column-75">
        <!-- This loops through the paginated posts -->
        {% for post in paginator.posts %}
        {% include postSummary.html %}
        {% endfor %}
    </div>
    <div class="column column-25 navi">
        {% include nav.html %}
        <!-- Pagination links -->
<div class="pagination">
    <div class="flex flex--center">
        <div class="flex-item text--left">
            {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path }}" class="btn btn--primary">Previous</a>
            {% else %}
              <a class="btn btn--primary btn--disabled ">Previous</a>
            {% endif %}
        </div>

        <div class="flex-item text--center">
            <span class="page_number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        </div>

        <div class="flex-item text--right">
            {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path }}" class="btn  btn--primary">Next</a>
            {% else %}
              <a class="btn btn--primary btn--disabled ">Next</a>
            {% endif %}
        </div>
    </div>
</div>
        <!-- Bottom Pagination links -->
<div class="pagination bottom">
    <div class="flex flex--center">
        <div class="flex-item text--left">
            {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path }}" class="btn btn--primary">Previous</a>
            {% else %}
              <a class="btn btn--primary btn--disabled ">Previous</a>
            {% endif %}
        </div>

        <div class="flex-item text--center">
            <span class="page_number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        </div>

        <div class="flex-item text--right">
            {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path }}" class="btn  btn--primary">Next</a>
            {% else %}
              <a class="btn btn--primary btn--disabled ">Next</a>
            {% endif %}
        </div>
    </div>
</div>
        <!-- Link to top -->
        <a href="#" class="top">Back to top</a>
    </div>
</div>
