---
layout: default
title: Bradford GNU/Linux Users Group
summary: A self-help group for GNU/Linux, Open Source and Free Software users in and around the Bradford District, West Yorkshire
---

<div id="featured" class="clearfix wrapper">
    <div class="row">
        <div class="column column-75">
            <h1>BradLUG</h1>
            <h2>GNU/Linux Users Group</h2>
            <p>Welcome to the Bradford GNU/Linux site; we are a self-help group for GNU/Linux, Open Source and Free
                Software users in and around the Bradford District, West Yorkshire</p>
            <p>Why not come along to a <a href="/meetings">meeting</a>.</p>
        </div>
        <div class="column column-25">
            <img src="images/logo.jpg">
        </div>
    </div>
</div>

<div class="row">
    <div class="column column-75">
        <!-- This loops through the paginated posts -->
        {% for post in paginator.posts %}
        {% include postSummary.html %}
        {% endfor %}
    </div>
    <div class="column column-25">
        {% include nav.html %}
    </div>
</div>


