<a name="{{ key }}"></a>
<div class="author_wrap author_page">
	<div class="author_txt">
		<div class="author_name">
            {% unless page.authorsPage %}<a href="/authors#{{ key }}">{% endunless %}
                {{ author.name }}
            {% unless page.authorsPage %}</a>{% endunless %}
			{% if author.github %}
				<span>
					{% if author.github %}<a class="author_github" href="{{ author.github }}"><img src="/images/github_icon.png" width="20px"/></a>{% endif %}
				</span>
			{% endif %}
		</div>
	</div><div class="author_img">
		<img src="{{author.image}}" width="100"/>
	</div>
</div>


<!-- Summary Posts -->
{% if page.authorsPage %}
	<div class="author_articles">Articles by {{ author.name | truncatewords:1,"" }}</div>

	{% for post in site.posts %}
	  {% if post.author contains key %}
		{% include postTitle.html %}
	  {% endif %}
	{% endfor %}

{% endif %}
