<div class="wrapper touch">

	<h4>Ways to get in touch</h4>
	<p><strong>Mailing List</strong><br />
	The mailing list is kept up to date with all the details about the meetings, socials, ideas, and questions.<br />
	<a href="https://mailman.lug.org.uk/mailman/listinfo/bradford">BradLUG at mailman.lug.org</a></p>
	<p><strong>Twitter</strong><br />
	<a href="http://twitter.com/bradlug">http://twitter.com/bradlug</a></p>
	<p><iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=200&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=j0levg4c0p2op08nf5elp3u50k%40group.calendar.google.com&amp;color=%23875509&amp;ctz=Europe%2FLondon" width="220" height="200" frameborder="0" scrolling="no"></iframe></p>
</div>
