<!doctype html>
<html>
{% include head.html %}

<body>
<div class="container">
    <header>
        <div id="logo" class="clearfix">
            <span class="site-name"><a href="/">BradLUG (Bradford GNU/Linux Users Group)</a></span>
            <span class="site-description">A self-help group for GNU/Linux, Open Source and Free Software users in and around the Bradford District, West Yorkshire</span>
        </div>
        <a class="button" href="/">Home</a>
        <a class="button" href="/about">About</a>
        <a class="button" href="/meetings">Meetings</a>
        <a class="button" href="/foss">FOSS</a>
        <a class="button" href="/endof10">End of Windows 10</a>
    </header>

{{ content }}

</div>
</body>
</html>
