---
layout:    default
isArticle: true
fixedHeader: true
---

{% assign minutes = content | number_of_words | divided_by: 120 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

{% if page.author %}
{% assign author = site.data.authors[page.author] %}
{% endif %}


<div class="wrapper">
    <h2>{{ page.title }}</h2>
    {% if author.bio %}
	  {% include author.html %}
	{% endif %}
    
    <div class="clearfix"></div>
    {{ page.content }}
	
    {% for page_category in page.categories %}
    	{% for data_category in site.data.categories %}
		{% if data_category.name == page_category %}
		<span class="post--category"><a href="/category/{{ data_category.slug }}">{{ page_category }}</a></span>
		{% endif %}
	{% endfor %}
    {% endfor %}
</div>


